<div class="list-container">
  <div *ngIf="shiftTemplates.length === 0; else templateList">
    <div class="list">No shift templates yet</div>
  </div>

  <ng-template #templateList>
    <div *ngFor="let template of shiftTemplates" class="list">
      <div class="list-info">
        <span> {{ template.name }}, </span>
        <span>
          {{ template.startTime }}
          <span *ngIf="template.startTime < 12">am</span>
          <span *ngIf="template.startTime > 12">pm</span>
        </span>
        <span>
          {{ template.endTime }}
          <span *ngIf="template.endTime < 12">am</span>
          <span *ngIf="template.endTime > 12">pm</span>
        </span>
      </div>
      <div class="actions">
        <span>
          <a (click)="showModal(updateEmployee)" class="btn btn-primary"
            >Update</a
          >
        </span>
        <span> | </span>
        <span>
          <a (click)="deleteShiftTemplate(template.id)" class="btn btn-danger"
            >Delete</a
          >
        </span>
      </div>

      <ng-template #updateEmployee>
        <tp-modal-template
          (onFormClose)="closeModal()"
          [title]="'Update employee'"
          [type]="'update'"
          [shiftTemplate]="template"
        ></tp-modal-template>
      </ng-template>
    </div>
  </ng-template>
</div>
