<div class="employees-container">
  <tp-sidebar> </tp-sidebar>
  <div class="employees-details">
    <h1 class="text-3xl font-bold">Employees</h1>
    <div class="header-action-container">
      <div class="header-action">
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          (click)="openModal(addEmployee)"
        >
          Add employee
        </button>
      </div>
    </div>
    <tp-employee-list
      [employees]="employees"
      (onFormDelete)="delete($event)"
      (onFormSave)="save($event)"
      (onFormShow)="openModal($event)"
    ></tp-employee-list>
  </div>
  <ng-template #addEmployee>
    <tp-modal-employee
      (onFormSave)="save($event)"
      (onFormClose)="closeModal()"
      [title]="'Add employee'"
      [employeeCount]="employees.length"
    ></tp-modal-employee>
  </ng-template>
</div>
