<div class="employees-container">
  <div *ngIf="employees.length === 0; else employeeList">
    <div class="employees">No Employees yet</div>
  </div>

  <ng-template #employeeList>
    <div *ngFor="let employee of employees" class="employees">
      <div class="employee-info">
        <span> {{ employee.lastName }}, </span>
        <span>
          {{ employee.firstName }}
        </span>
        <span>
          {{ employee.middleName }}
        </span>
      </div>
      <div class="actions">
        <span>
          <a (click)="showModal(updateEmployee)" class="btn btn-primary"
            >Update</a
          >
        </span>
        <span> | </span>
        <span>
          <a (click)="deleteEmployee(employee.id)" class="btn btn-danger"
            >Delete</a
          >
        </span>
      </div>

      <ng-template #updateEmployee>
        <tp-modal-employee
          (onFormSave)="saveEmployee($event)"
          (onFormClose)="closeModal()"
          [title]="'Update employee'"
          [type]="'update'"
          [employeeCount]="employees.length"
          [employee]="employee"
        ></tp-modal-employee>
      </ng-template>
    </div>
  </ng-template>
</div>
