<div class="employees-container">
  <div *ngIf="employees.length === 0; else employeeList">
    <div class="employees">No Employees yet</div>
  </div>

  <ng-template #employeeList>
    <!-- <table>
      <thead>
        <td>Name</td>
        <td>Manage</td>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees" class="employees">
          <td class="employee-info">
            <span> {{ employee.lastName }}, </span>
            <span>
              {{ employee.firstName }}
            </span>
            <span>
              {{ employee.middleName }}
            </span>
          </td>
          <td class="actions">
            <span>
              <a (click)="showModal(updateEmployee)">Update</a>
            </span>
            <span> | </span>
            <span>
              <a (click)="deleteEmployee(employee.id)">Delete</a>
            </span>
          </td>
          <ng-template #updateEmployee>
            <tp-modal-employee
              (onFormSave)="saveEmployee($event)"
              (onFormClose)="closeModal()"
              [title]="'Update employee'"
              [type]="'update'"
              [employeeCount]="employees.length"
              [employee]="employee"
            ></tp-modal-employee>
          </ng-template>
        </tr>
      </tbody>
    </table> -->
    <div *ngFor="let employee of employees" class="employees">
      <div class="employee-info">
        <span> {{ employee.lastName }}, </span>
        <span>
          {{ employee.firstName }}
        </span>
        <span>
          {{ employee.middleName }}
        </span>
      </div>
      <div class="actions">
        <span>
          <a (click)="showModal(updateEmployee)">Update</a>
        </span>
        <span> | </span>
        <span>
          <a (click)="deleteEmployee(employee.id)">Delete</a>
        </span>
      </div>

      <ng-template #updateEmployee>
        <tp-modal-employee
          (onFormSave)="saveEmployee($event)"
          (onFormClose)="closeModal()"
          [title]="'Update employee'"
          [type]="'update'"
          [employeeCount]="employees.length"
          [employee]="employee"
        ></tp-modal-employee>
      </ng-template>
    </div>
  </ng-template>
</div>
