.scheduler-container {
  height: 600px;
  position: relative;

  .actions {
    display: flex;
    .date-option {
      margin: 10px 0px;

      div {
        border-radius: 0px;
        border: none;
      }
    }

    .date-option:first-child {
      flex-grow: 1;
    }
  }

  .schedule {
    height: 100%;
    overflow: auto;
  }
}
