<div class="modal-overlay" *ngIf="form">
  <div class="modal-container">
    <div class="title">
      <label>{{ title }}</label>
    </div>
    <form class="details" [formGroup]="form">
      <div>
        <div class="element-control">
          <input
            type="text"
            formControlName="name"
            class="control"
            placeholder="Shift Name"
          />
        </div>
        <div class="element-control">
          <input
            type="number"
            formControlName="startTime"
            class="control"
            min="0"
            max="23"
            placeholder="Start time"
          />
        </div>
        <div class="element-control">
          <input
            type="number"
            formControlName="endTime"
            class="control"
            min="0"
            max="23"
            placeholder="End time"
          />
        </div>
      </div>
      <div class="button-actions">
        <span class="action">
          <button class="btn btn-secondary" (click)="close()">Cancel</button>
        </span>
        <span class="action">
          <button
            *ngIf="type !== 'update'"
            class="btn btn-primary"
            (click)="saveItem()"
            [disabled]="
              !(form.value.name && form.value.startTime && form.value.endTime)
            "
          >
            Save
          </button>
          <button
            *ngIf="type === 'update'"
            class="btn btn-primary"
            (click)="emitItem()"
          >
            Update
          </button>
        </span>
      </div>
    </form>
  </div>
</div>
